[train] #train parameters
epoch = 128
batch_size = 4
train_steps = 8
fp16 = False
no_valid = True
reader_num = 5

optimizer = adamw
learning_rate = 3e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1
rel_num = 97

[eval] #eval parameters
batch_size = 96
reader_num = 5


[data] #data parameters
train_dataset_type = Naive
train_formatter_type = PreDenoise
train_data_path = data/train_annotated.json 

test_dataset_type = Naive
test_formatter_type = PreDenoise

[model] #model parameters
model_name = PreDenoise
max_len = 512

[output] #output parameters
output_time = 1

model_path = checkpoint
model_name = PreDenoise

output_function = binary2

