[train] #train parameters
epoch = 128
batch_size = 2
train_steps = 8
fp16 = True
no_valid = True
reader_num = 5

optimizer = adamw
learning_rate = 3e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1
rel_num = 97

tasks = RelAlign,RelDet,XRelDet,MenMat,XMenMat
pre_train = True

[eval] #eval parameters
batch_size = 2
reader_num = 1


[data] #data parameters
train_dataset_type = PreTrain
train_formatter_type = PreTrain
doc_data_path = data/train_distant.json 
doc_score_path = data/rank_result/


[model] #model parameters
model_name = PreTrain
max_len = 512

[output] #output parameters
output_time = 1

model_path = checkpoint/model
model_name = PreTrain


output_function = binary2
